a{
    color: $color-third;
    cursor: pointer;
    &:hover{
        color: initial;
        text-decoration: none;
    }
}
ul{
    padding-left: 0;
    li{
        list-style: none;
    }
}
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #ffffff;
}
::-webkit-scrollbar
{
    width: 6px;
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb
{
    background-color: #9999997a;
    border-radius: 10px;
    border: 1px solid #9999997a;
 
        cursor: pointer;

}
.i-con{
    font-size: 25px;
    display: inline-block;
}

.icon-circle {
    width: 14px;
    height: 14px;
    position: absolute;
    display: inline-block;
    text-align: center;
    background-color: $color-second;
    font-family: $font-second;
    line-height: 14px;
    font-size: 10px;
    color: #ffffff;
    @include border-radius(50%);
}
.icon-success{
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    text-align: center;
    line-height: 16px;
    background: $green;
    color: #fff;
    font: normal normal normal 10px/1 FontAwesome;
    &:before{
        content: "\F00C";
        position: relative;
        top: 2px;
    }
    &.blue{
        background-color: $blue;
    }
    &.yellow{
        background-color: $yellow;
    }
    &.green {
        background-color: #00cfad;
    }
    &.small {
        width: 12px;
        height: 12px;
        &::before {
            top: 0px;
            left: 0px;
            font-size: 7px;
        }
    }
}
.icon-dote{
    @extend .icon-success;
    font: normal normal normal 13px/1 CircularStd-Bold;
    &.grey{
        background-color: $gray;
    }
    &.blue{
        background-color: $blue;
    }
    &:before{
        content: "...";
        position: relative;
        top:-2px;
        letter-spacing: -0.5px;
    }
}
.icon-down{
    @extend .icon-success;
    font-size: 13px;
    &.grey{
        background-color: $gray;
    }
    &.blue{
        background-color: $blue;
    }
    &:before{
        content: "\f107";
        position: relative;
        top:1px;
    }
}
.icon-delete{
    @extend .icon-success;
    background-color: $red;
    &:before{
        content: "\f00d";
        position: relative;
        left: 0.5px;
    }
    &.grey{
        background-color: $gray;
    }
}
.icon-war{
    @extend .icon-success;
    background-color: $red;
    &:before{
        content: "\f12a";
        position: relative;
        left: -0.5px;
    }
    &.grey{
        background-color: $gray;
    }
}
.icon-sync{
    @extend .icon-success;
    background-color: $yellow;
    &:before{
        content: "\f021";
        position: relative;
        left: -0.5px;
    }
    &.rotate {
        -webkit-animation: rotate 1s linear infinite;
        -moz-animation: rotate 1s linear infinite;
        -ms-animation: rotate 1s linear infinite;
        -o-animation: rotate 1s linear infinite;
        animation: rotate 1s linear infinite;
    }
}
.icon-financial, .icon-bank-connect{
    mask-size:contain;
    -webkit-mask-size: contain;
    background-color: rgba($color-third, .7);
    display: inherit;
    height: 25px;
    width: 23px;
}
.width-100{
    width: 100px;
    display: inline-block;
    flex: inherit;
}
.width-120{
    width: 120px;
    display: inline-block;
    flex: inherit;
}
.full-width {
    width: 100%;
}
.bolder{
    font-family: $font-third;
}
.input-enter{
    max-width: 60px;
    border: 1px solid #ddd;
    border-radius: 2px;
    outline: none;
    padding: 0px 20px 0px 5px;
    + span{
        &::after{
            content: '%';
            position: relative;
            right: 15px;
        }
    } 
}
.tooltip-error{
    position: absolute;
    width: 200px;
    background-color: #34495e;
    font-family: 'CircularStd-Book';
    border-radius: 3px;
    font-size: 12px;
    padding: 15px;
    top: -13.5px;
    left: 45px;
    @include transition(opacity,.7s,ease-in-out);
    opacity: 0;
    text-align: center;
    &::after{
        right: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(136,183,213,0);
        border-right-color: #34495e;
        border-width: 8px;
        margin-top: -8px;
    }
    &.big{
        top:-40px;
    }
    &.md{
        top: -18px;
    }
}
.space{
    margin-bottom:30px; 
}
.btn-normal{
    font-size: 7px;
    padding: 7px 13px 5px 13px;
    @include border-radius(2px);
    background-color: $color-primary;
    outline: none;
    box-shadow: none;
    color: rgba($color-third, .5);
    border: 1px solid #c8c8c8;
    text-transform: uppercase;
    margin-right: 10px;
    @include transition(all, 0.3s, ease-in);
    cursor: pointer;
    &:hover{
        background-color: $color-second;
        color: $color-primary !important;
        border: 1px solid $color-second;
    }
    &.color-second{
        background-color: $color-second;
        border: 1px solid $color-second;
        color: #fff;
        &:hover{
            background-color: #fff;
            color: $color-second !important;
        }
    }
    &.grey{
        background-color: rgba(28, 93, 244, 0.06);
        border: 1px solid rgba(28, 93, 244, 0);
        color: rgba($gray-darker, .7);
        &:hover{
            background-color: $color-second;
            color: $color-primary !important;
            border: 1px solid $color-second;
        }
    }
    &.blue {
        background-color: $color-second;
        border: 1px solid $color-second;
        color: #fff;
        &:hover{
            background-color: #fff;
            color: $color-second !important;
        }
    }
    &.fz-9{
        font-size: 9px;
        min-width: 74px;
        display: inline-block;
        text-align: center;
        padding: 4.5px;
        margin-right: 10px;
    }
    &:last-child{
        margin-right: 0px;
        &.fz-9 {
            margin-right: 0px;
        }
    }
    &:disabled {
        opacity: 0.4;
    }
}
.form-group{
    position: relative;
}
.form-label{
    font-family: $font-second;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.form-label-error{
    color: $red;
    font-size: $font-size-smaller;
    display: block;
    margin-top: 10px;
}
.form-input{
    height: 40px;
    background-color: #f0f2f5;
    width: 100%;
    outline: none;
    padding-left: 15px;
    padding-right: 15px;
    @include border-radius(3px);
    border: solid 1px #f0f2f5;
    box-shadow: none;
    color: #353942;
    font-size: $font-size-normal;
    font-family: 'CircularStd-Book';
    &:focus{
        background-color: $color-primary;
        border: solid 1px $color-second;
    }
    &.error{
        border: solid 1px rgba($red,0.5);
    }
    &.disable{
        background-color: rgba(158, 158, 158, 0.24);
        border: 1px solid rgba(158, 158, 158, 0.24);
        cursor: not-allowed;
    }
    &.tranparent{
        background-color: #fff;
        cursor: pointer;
    }
}
.form-btn{
    text-transform: uppercase;
    cursor: pointer;
    @include border-radius(3px);
    background-color: $color-second;
    border: 1px solid $color-second;
    font-family: $font-third;
    font-size: $font-size-normal;
    font-weight: 700;
    // line-height: 1.33;
    text-align: center;
    color: $color-primary;
    height: 40px;
    width: 100%;
    outline: none !important;
    margin-top: 15px;
    transition: .5s;
    &:hover,&:focus,&:active{
        background-color: $color-primary !important;
        border-color: $color-second ;
        color: $color-second;
    }
    &.small{
        height: 24px;
        font-size: 9px;
        width: auto;
        padding-left: 12px;
        padding-right: 12px; 
        margin-top: 0;
        font-family: $font-second;
        font-weight: 500;
        line-height: 24px;
    }
    &.grey{
        background-color: rgba($gray, 0.5);
        border: 1px solid rgba($gray, 0.1);
        color: #000;
        &:hover,&:focus,&:active{
            background-color: $color-primary ;
            border-color: $gray ;
            color: $gray-dark;
        }
    }
    &.black{
        background-color: #4a4a4a;
        border: 1px solid #4a4a4a;
        color: #fff;
        &:hover,&:focus,&:active{
            background-color: #fff ;
            color: #4a4a4a;
        }
    }
    &.red{
        background-color: $red;
        border: 1px solid $red;
        &:hover,&:focus,&:active{
            background-color: $color-primary ;
            border-color: $red ;
            color: $red;
        }
    }
    &.white{
        background-color: $color-primary;
        border-color: $gray ;
        color: $gray-dark;
        &:hover,&:focus,&:active{
            background-color: rgba($gray, 0.5) !important;
            border: 1px solid rgba($gray, 0.1);
            color: $gray-dark;
        }
    }
    &.blue{
        border-color: $blue ;
        border: 1px solid $blue;
        &:hover,&:focus,&:active{
            background-color: $color-primary ;
            border-color: $blue ;
            color: $blue;
        }
    }
    &.border-btn{
        border-radius: 20px;
    }
    &.f-left{
        float: left;
    }
}
.disabled {
    color: #d8d8d8 !important;
    background-color: #f5f5f5 !important;
    pointer-events: none;
}
button[disabled].tranparent{
    background-color: #f3f3f3 !important;
    cursor: not-allowed;
}

.btn-delete{
    color: $color-primary;
    background-color: $color-eleventh;
    border-color: $color-eleventh;
    font-size: 19px;
    outline: none !important;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 5px;
    box-shadow: none !important;
    border: 1px !important;
    @include transition(all, 0.3s, ease-in);
    &.btn-radius{
        @include border-radius(100px);
    }
    &:hover{
        background-color: #2f3542 !important;
        color: #fff !important;
    }
}

.btn-cancel{
    color: $color-primary;
    background-color: #747d8c;
    border-color: #747d8c;
    font-size: 19px;
    outline: none !important;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 5px;
    box-shadow: none !important;
    border: 1px !important;
    @include transition(all, 0.3s, ease-in);
    &.btn-radius{
        @include border-radius(100px);
    }
    &.blue{
        background-color: $color-second !important;
    }
    &:hover{
        background-color: #2f3542 !important;
        color: #fff !important;
    }
}

.btn{
    color: $color-primary;
    background-color: $color-second;
    border-color: $color-second;
    font-size: $font-size-big;
    outline: none !important;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: none !important;
    @include transition(all, 0.3s, ease-in);
    &.btn-radius{
        @include border-radius(100px);
    }
    &:hover{
        background-color: #fff;
        color: $color-second !important;
    }
    &.red{
        background-color: #ff4757 !important;
    }
    &.gray{
        background-color: #747d8c !important;
    }

    &.outline {
        color: $color-second;
        background-color: #fff;
        &:hover {
            background-color: $color-second;
            color: #fff !important;
        }
    }
    
}
.normal-btn{
    display: inline-block;
    margin-left: 10px;
    &.export{
        .dropdown-menu{
            left: -35px !important;
        }
    }
    .dropdown-toggle{
        font-size: 9px;
        padding: 5px 14px;
        @include border-radius(2px);
        cursor: pointer;
        min-width: 75px;
        margin-bottom: 10px;
        &.not-arrow{
            &::after{
                display: none;
            }
        }
        &.green{
            background-color: $green-darker;
            border-color: $green-darker;
            &:hover{
                color: $green-darker !important;
                background-color: #fff;
            }
        }
    }
    .dropdown-menu{
        min-width: 150px;
    }
    .btn{
        &:hover{
            color: #fff;
        }
    }
}
.no-data{
    background-color: #fff;
    padding: 20px;
    font-size: 14px;
    @include border-radius(3px);
    // border: 1px solid #dcdcdc;
    max-width: 100% !important;
    width: 100%;
    &.small{
        padding: 10px 20px 0;
        img{
            margin: 10px 0;
            width: 30px;
        }
        .text-note{
            font-size: 10px;
            margin-bottom: 0;
        }
    }
    img{
        margin: 20px 0;
    }
    .text-note{
        color: #9B9B9B;
        margin-bottom: 20px;
        font-size: 14px;
    }
}
.title-section{
    margin-bottom: 20px;
    color: $color-second;
    font-size: 14px;
    font-family: $font-second;
}
.btn-close{
    background-color: #fff;
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    outline: none;
    top: 0px;
    z-index: 10;
    cursor: pointer;
    &.border-black{
        border: 1px solid $black;
    }
    img{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
.register{
    font-size: 12px;
    margin-bottom: 0;
}
.pdr-0{
    padding-right: 0 !important;
}
.pdl-0{
    padding-left: 0 !important;
}
.pdl-5{
    padding-left: 5px !important;
}
.pdr-5{
    padding-right: 5px !important;
}
.pdr-2{
    padding-right: 2px !important;
}
.mt-30{
    margin-top: 30px !important;
}
.mt-20{
    margin-top: 20px !important;
}
.form-box {
    .form-group{
        position: relative;
        .icon-success,.icon-war{
            right: 10px;
            top: 42px;
        }
    }
    .txt-link{
        text-align: right;
        color: $color-second;
        font-size: $font-size-normal;
        margin-top: 15px;
    }
    .icon-war{
        opacity: 0;
        z-index: -1;
        @include transition(opacity,.7s,ease-in-out);
        &.active{
            opacity: 1;
            z-index: 3;
            .tooltip-error{
                opacity: 1;
            }
        }
    }
    .tooltip-error{
        &.all{
            opacity: 1;
            top: inherit;
            right: -220px;
            color: #ffffff;
            left: inherit;
        }
        &.name{
            width: 250px;
            right: -275px;
            top: 25px;
        }
        &.fixtop{
            top: -6px;
        }
    }
}
.dropdown{
    .fa-sort{
        position: absolute;
        right: 15px;
        top: 15px;
        color: rgba($color-third, .4);
    }
    .dropdown-toggle{
        color: rgba($color-third, .9);
        &.not-arrow{
            &::after{
                display: none;
            }
        }
        &.btn{
            color: #ffffff;
        }
    }
    &.btn-input{
        .dropdown-menu{
            max-height: 205px;
            overflow-y: auto;
            &::after, &::before{
                display: none;
            }
            margin-top: 0;
            border: 1px solid #eaeaea;
            max-width: 100%;
            .dropdown-menu-link{
                padding-left: 15px;
                padding-right: 15px;
                font-size: $font-size-normal;
                position: relative;
                &.special{
                    .label-check{
                        &::after{
                            position: absolute;
                            top:0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            content: '';
                            cursor: pointer;
                            // background-color: red;
                        }
                    }
                }
            }
        }
        .dropdown-toggle{
            text-align: left;
            &::after{
                display: none;
            }
        }
        .fa {
            position: absolute;
            right: 17px;
            font-size: 13px;
            opacity: .8;
            color: #464955;
            &.fa-angle-up {
                top: 10px;
            }
            &.fa-angle-down {
                bottom: 10px;
            }
        }
    }
}
.dropdown-menu{
    border: 0px solid rgba(0,0,0,0.15);
    min-width: 110px;
    margin-top: 12px;
    font-size: $font-size-normal;
    padding: 0;
    width: 100%;
    border: 1px solid #e2e2e2;
    @include box-shadow(0px, 2px, 6px, rgba(0, 0, 0, 0.12));
    @include border-radius(4px);
    // left: 50% !important;
    // transform: translate3d(-50%, 25px, 0) !important;
    &::before{
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        border: 5px solid transparent;
        vertical-align: middle;
        border-bottom-color: rgb(131, 131, 131);
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
    }
    &::after{
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        border: 5px solid transparent;
        vertical-align: middle;
        border-bottom-color: #ffffff;
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
    }
    .dropdown-menu-link{
        border-bottom: 1px solid #ececec;
        cursor: pointer;
        img{
            margin-right: 5px;
            width: 12px;
        }
        padding: 11px 10px;
        font-size: 10px;
        color: rgba($color-third, .7);
        display: block;
        &:hover{
            background-color: rgba($color-ninth, .2);
        }
    }
    &.scroll{
        max-height: 309px;
        overflow-y: auto;
        &::-webkit-scrollbar-track
        {
            -webkit-box-shadow: inset 0 0 6px #fff;
            background-color: #ffffff;
        }
        &::-webkit-scrollbar
        {
            width: 2px;
            background-color: #ffffff;
        }
        
        &::-webkit-scrollbar-thumb
        {
            background-color: rgba(216, 216, 216, 0.62);
            border-radius: 10px;
            border: 1px solid rgba(216, 216, 216, 0.62);
        }
    }
}
.input-loading{
    width: 25px;
    height: 25px;
    background-image: url('~assets/images/loading-ip.svg');
    background-size: contain;
    background-repeat: no-repeat;
    content: '';
    position: absolute;
    right: 20px;
    top: 35px;
}
.border-red{
    border: 1px dashed red !important;
}

.theme-color {
    color: $color-second !important;
}

.font-primary {
    font-size: $font-size-primary !important;
}

.box-center{
    background-color: $color-primary;
    @include border-radius(3px);
    padding-bottom: 50px;
    .box-center-title{
        font-size: 18px;
        color: $gray-darker;
        text-align: center;
        padding-bottom: 40px;
        padding-top: 50px;
    }
}
.set-padding{
    padding: 10px 0px;
}
.ip-upload {
    display: none;
}
.page-list{
    .box{
        background-color: transparent;
        padding: 0;
        .box-item{
            height: auto;
            overflow:initial;
            .row-item{
                background-color: $color-primary;
                border: 0;
                position: relative;
            }
            .form-inputFinan{
                width: 76px;
                height: 40px;
                border-radius: 3px;
                border: 1px solid #dddddd;
                background-color: #ffffff;
            }
            .text-box{
                font-weight: bold;
                color: #000000;
            }
        }
    }
    &.gj-list{
        .box{
            background-color: #fff;
            padding: 20px;
            margin-bottom: 25px;
            min-height: initial;
            .gj-title{
                color: #262c39;
                font-size: 13px;
                font-weight: 500;
                letter-spacing: 1px;
                text-transform: uppercase;
                font-family: $font-second;
            }
            .gj-label{
                color: rgba(38, 44, 57, 0.4);
                font-size: 16px;
            }
            .gj-value{
                color: #262c39;
                font-family: $font-second;
                font-size: 20px;
                font-weight: 700;
                &.disable{
                    color: #ddd;
                }
            }
            .stroke{
                border-bottom: 1px dashed rgba(0, 0, 0, 0.14);
                height: 1px;
                width: 100%;
                display: block;
                padding: 5px 0px;
                margin: 0px 15px;
            }
            .width-90{
                width: 90px;
                display: inline-block;
                flex: inherit;
            }
            .width-116{
                width: 116px;
                display: inline-block;
                flex: inherit;
            }
            .box-item{
                .row-item {
                    border: 1px solid #eaeaea;
                    margin-bottom: 0;
                    border-radius:1px; 
                    .item-option + .dropdown-menu{
                        left: initial !important;
                        right: -17px;
                        top: 5px !important;
                        text-transform: uppercase;
                        min-width: 130px;
                        .option-item{
                            font-family: $font-second;
                            margin-bottom: 0;
                            &:hover{
                                color: $color-second;
                            }
                        }
                    }
                }
            }
        }
    }
    &.gj-list-custom{
        .box-item{
            .row-item {
                .item-option + .dropdown-menu{
                    left: initial !important;
                    right: -17px;
                    top: 5px !important;
                    text-transform: uppercase;
                    min-width: 130px;
                    .option-item{
                        font-family: $font-second;
                        margin-bottom: 0;
                        &:hover{
                            color: $color-second;
                        }
                    }
                    &::before, &::after{
                        display: none;
                    }
                }
            }
        }
    }
}
.page-title{
    font-size: $font-size-normal;
    color: $color-second;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: $font-second;
    text-transform: capitalize;
    .fa{
        position: relative;
        top: 1px;
        margin-left: 2px;
    }
    &.bookmark{
        .fa{
            &::before{
                content: "\f005";
            }
        }
    }
}
.section-title{
    @extend .page-title;
    margin-bottom: 25px;
}
.btn-small{
    height: 24px;
    font-size: 10px;
    padding-top: 3px;
    cursor: pointer;
    &.custom{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 4px;
        @include border-radius(2px);
        color: #fff;
        display: inline-block;
        margin-left: 20px;
        position: absolute;
        top: -38px;
        text-transform: uppercase;
        right: 15px;
        &+ .custom{
            right: 110px;
        }
    }
}
.page-head{
    .normal-btn{
        position: relative;
        top: -4px;
    }
}
.info-client-head{
    position: absolute;
    right: 0px;
    top: -5px;
    .client-img{
        @include border-radius(50%);
        width: 26px;
        height: 26px;
        border: 1px solid #ddd;
        display: inline-block;
        margin-right: 5px;
        object-fit: cover;
    }
    .client-name{
        font-size: 12px;
        color: $color-second;
        font-weight: 500;
        margin-bottom: 30px;
        font-family: "CircularStd-Medium";
        display: inline-block;
    }
    .btn-small{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 4px;
        @include border-radius(2px);
        color: #fff;
        display: inline-block;
        margin-left: 20px;
    }
}
.paginate {
    margin-top: 20px;
    ul {
        padding-left: 0;
        margin-bottom: 0;
        li {
            display: inline-block;
            width: 36px;
            height: 36px;
            a {
                box-sizing: border-box;
                display: inline-block;
                min-width: 1.5em;
                // padding: 9.5px 15px;
                margin-left: -1px;
                text-align: center;
                text-decoration: none !important;
                cursor: pointer;
                background-color: #fff;
                color: #969c9c;
                border: 1px solid #e5e6e6;
                border-left: 0px;
                line-height: 36px;
                width: 36px;
                height: 36px;
            }
            &:first-child{
                a{
                    border-left: 1px solid #e5e6e6;
                } 
            }
            &:hover a{
                background-color: #f9f9f9;
                color: #888b94;
            }
            &.active a {
                color: $color-second;
            }
            &.disabled a{
                cursor:not-allowed;
                background-color: #ffffff61;
            }
        }
    }
}
.page-list{
    .list{
        .list-item{
            .item-img{
                width: 50px;
                height: 50px;
                border: 1px solid rgba(191, 191, 191, 0.3);
            }
            .item-title{

            }
            .item-description{
                
            }
        }
    }
}
.main-content{
    font-family: $font-primary;
    font-size: $font-size-normal;
    color: $color-third;
    background-color: $color-seventh;
    height: calc(100vh - 83px);
    overflow: hidden;
    .col-left{
        float: left;
        width: 120px;
        height: 100vh;
        background-color: $color-primary;
        padding: 0;
        position: relative;
        .menu-left {
            padding: 15px 0 0 0;
            margin: 0;
            width: 100%;
            max-height: calc(100vh - 170px);
            overflow-y: scroll;
            &::-webkit-scrollbar-track
            {
                -webkit-box-shadow: inset 0 0 6px #fff;
                background-color: #ffffff;
            }
            &::-webkit-scrollbar
            {
                width: 1px;
                background-color: #ffffff;
            }
            
            &::-webkit-scrollbar-thumb
            {
                background-color: rgba(216, 216, 216, 0.4);
                border-radius: 10px;
                border: 1px solid rgba(216, 216, 216, 0.4);
            }
            .menu-item {
                padding-top: 10px;
                padding-bottom: 11px;
                &.logout{
                    position: absolute;
                    bottom: 80px;
                    width: 100%
                }
            }
            .menu-link {
                display: inline-block;
                width: 100%;
                font-size: $font-size-normal;
                letter-spacing: 0.23px;
                line-height: 14px;
                color: rgba($color-third, .7);
                text-align: center;
                position: relative;
                text-decoration: none;
                border-left: 3px solid #fff;
                border-bottom: 3px solid #fff;
                border-top: 3px solid #fff;
                &:before {
                    content: '';
                    position: absolute;
                    height: 100%;
                    width: 4px;
                    background-color: transparent;
                    left: 0;
                    top: 0;
                }
                &:hover, &.active {
                    text-decoration: none;
                    color: $color-second;
                    .i-con{
                        // background-color: $color-second;
                        color: $color-second;
                    }
                    .icon-financial, .icon-bank-connect{
                        background-color: $color-second;
                    }
                }
                &.active{
                    border-left: 3px solid $color-second;
                    border-bottom: 3px solid #fff;
                    border-bottom-left-radius: 2px;
                    border-top: 3px solid #fff;
                    border-top-left-radius: 2px;
                }
            }
            .menu-name{
                display: block;
            }
            .i-con{
                margin-bottom: 4px;
            }
        }
    }
    .col-right{
        overflow-y: auto;
        height:100%;
        // padding: 40px;
        width: calc(100% - 120px);
        position: relative;
        &>section{
            padding: 20px;
            position: relative;
            min-height: 100%;
        }
    }
}
.setPoint {
    overflow: visible;
    cursor: pointer !important;
    z-index: 1065;
    position: absolute;
    right: -4px;
    top: 50%;
    transform: translateY(-50%);
    .point {
        width: 24px;
        height: 24px;
        border-radius: 100%;
        &::before,
        &::after {
            content: "";
            box-sizing: border-box;
            position: absolute;
            background: rgba($color-second, .7);
            width: 48px;
            height: 48px;
            border-radius: 50%;
            -webkit-animation: preview-marker-pulsar 1.7s infinite ease-out;
            animation: preview-marker-pulsar 1.7s infinite ease-out;
            top: -12px;
            left: -10px;
            z-index: -1;
        }
        &::after {
            width: 48px;
            height: 48px;
            top: -12px;
            left: -10px;
            -webkit-animation: preview-marker-pulsar-inner 1.7s infinite ease-out;
            animation: preview-marker-pulsar-inner 1.7s infinite ease-out;
        }
    }
    @-webkit-keyframes preview-marker-pulsar {
        0% {
            opacity: .65;
            -webkit-transform: scale(.1);
            transform: scale(.1)
        }
        100% {
            opacity: 0;
            -webkit-transform: scale(1);
            transform: scale(1)
        }
    }
    @keyframes preview-marker-pulsar {
        0% {
            opacity: .65;
            -webkit-transform: scale(.1);
            transform: scale(.1)
        }
        100% {
            opacity: 0;
            -webkit-transform: scale(1);
            transform: scale(1)
        }
    }
    @-webkit-keyframes preview-marker-pulsar-inner {
        0% {
            opacity: 0;
            -webkit-transform: scale(.1);
            transform: scale(.1)
        }
        24%,
        90% {
            opacity: 0
        }
        25% {
            opacity: .65;
            -webkit-transform: scale(.1);
            transform: scale(.1)
        }
        100% {
            opacity: 0;
            -webkit-transform: scale(1);
            transform: scale(1)
        }
    }
    @keyframes preview-marker-pulsar-inner {
        0% {
            opacity: 0;
            -webkit-transform: scale(.1);
            transform: scale(.1)
        }
        24%,
        90% {
            opacity: 0
        }
        25% {
            opacity: .65;
            -webkit-transform: scale(.1);
            transform: scale(.1)
        }
        100% {
            opacity: 0;
            -webkit-transform: scale(1);
            transform: scale(1)
        }
    }
}
input[type=checkbox]{
    width: 10px;
    height: 10px;
    background-color: #d8d8d8;
    display: inline-block;
    border-radius: 2px;
    outline: none!important;
    position: relative;
    border: 1px solid #dbdbdb;
    margin-right: 5px;
    -webkit-appearance: none;
    position: relative;
    top: 1px;
    &:after{
        content: "";
        width: 3.5px;
        height: 9px;
        border-bottom: 1px solid #276cf2;
        border-right: 1px solid #276cf2;
        position: absolute;
        left: 2px;
        top: -2px;
        opacity: 0;
        transform: rotate(45deg);
    }
    &:checked{
        &:after{
            opacity: 1;
        }
    }
}
input[type="radio"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    width: 14px;
    height: 14px;
    background-color: #fff;
    border: 1px solid $color-second;
    background-size: 20px;
    border-radius:50px;
    outline:none;
    &:checked:before{
      content: "";
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $color-second;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &:focus{
      outline: none;
    }
}
.plus-icon{
    cursor: pointer;
    position: absolute;
    right: -10px;
    top: 11px;
}
.fa-stack{
    .fa-stack-1x{
        position: relative;
        top: -1px;
    }
}
@keyframes pulse {    
    50% {
      background: $color-second;
    }
}
  
.loading-pulse {
    position: relative;
    width: 8px;
    height: 8px;
    background: rgba($color-second, 0.2);
    animation: pulse 750ms infinite;
    animation-delay: 250ms;
    margin: 15px auto;
    &::before, &::after {
      content: '';
      position: absolute;
      display: block;
      height: 8px;
      width: 8px;
      background: rgba($color-second, 0.2);
      top: 50%;
      transform: translateY(-50%);
      animation: pulse 750ms infinite;
    }
    &::before {
      left: -14px;
    }
    &::after {
      left: 14px;
      animation-delay: 500ms;
    }
}
.item-expand[aria-expanded="true"]{
    .fa-caret-down{
        @include transform(180deg);
    }
    &>.fa-stack{
        .fa-arrow-down{
            @include transform(180deg);
        }
    }
}

.row-heading{
    margin-bottom: 20px;
    padding: 0 17px;
    .title{
        color: rgba($color-second, 0.5);
        font-size: 8px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        margin-left: 2px;
    }
}
.row-item{
    color: $gray-dark;
    background-color: $color-primary;
    padding: 14px 17px 14px 25px;
    margin-bottom: 4px;
    .img-round{
        width: 20px;
        height: 20px;
        margin-right: 6px;
    }
    .box-inline{
        display: inline-block;
        vertical-align: middle;
        .name{
            font-size: $font-size-normal;
            margin-bottom: 5px;
        }
        .mail{
            color: rgba(#000000, 0.5);
            font-size: 8px;
        }
    }
    .product{
        margin-bottom: 0;
        border-radius: 2px;
        background-color: #eef0f3;
        padding: 3px 7px;
        font-size: $font-size-smaller;
        text-align: center;
    }
    .role{
        font-family: $font-seventh;
        font-size: $font-size-small;
        display: inline-block;
    }
    .btn-normal{
        padding: 4px 13px 2px 13px;
        min-width: 54px;
        min-height: 23px;
        display: inline-block;
        // width: 54px;
    }
}
.bg-grey{
    background-color: $gray-dark !important;
    border-color: $gray-dark !important;
    &:hover{
        color: rgba(rgb(235, 226, 226), .8) !important;
    }
}
@media screen and (max-width: 767px) {
    .form-box {
        .tooltip-error {
            display: none;
        }
    }
    .row-label{
        display: none;
    }
    .main-content{
        .col-left{
            width: 60px;
            .menu-left{
                .menu-name{
                    display: none
                }
            }
        }
        .col-right{
            width: calc(100% - 60px);
        }
    }
    .row-heading{
        display: none;
    }
    .row-item{
        .btn-normal{
            margin-top: 10px;
        }
    }
}

.btn-edit {
    &:hover {
        color: orange
    }
}

.tab {
    padding-bottom: 6px;
    margin-right: 20px;
    &.active {
        border-bottom: 3px solid #2d57ff;
    }
}


@media only screen and (max-width: 575px){
    .row-item{
        .product, .role{
            margin-top: 10px;
        }
    }
}
