
// Import Font
@font-face {
    font-family: 'CircularStd-Book';
    src: url('~assets/fonts/CircularStd-Book/CircularStd-Book.eot');
    src: url('~assets/fonts/CircularStd-Book/CircularStd-Book.eot?#iefix') format('embedded-opentype'), url('~assets/fonts/CircularStd-Book/CircularStd-Book.woff2') format('woff2'), url('~assets/fonts/CircularStd-Book/CircularStd-Book.woff') format('woff'), url('~assets/fonts/CircularStd-Book/CircularStd-Book.ttf') format('truetype'), url('~assets/fonts/CircularStd-Book/CircularStd-Book.svg#svgFontName') format('svg');
    font-weight: normal!important;
}

@font-face {
    font-family: 'CircularStd-Medium';
    src: url('~assets/fonts/CircularStd-Medium/CircularStd-Medium.eot');
    src: url('~assets/fonts/CircularStd-Medium/CircularStd-Medium.eot?#iefix') format('embedded-opentype'), url('~assets/fonts/CircularStd-Medium/CircularStd-Medium.woff2') format('woff2'), url('~assets/fonts/CircularStd-Medium/CircularStd-Medium.woff') format('woff'), url('~assets/fonts/CircularStd-Medium/CircularStd-Medium.ttf') format('truetype'), url('~assets/fonts/CircularStd-Medium/CircularStd-Medium.svg#svgFontName') format('svg');
    font-weight: normal!important;
}

@font-face {
    font-family: 'CircularStd-Bold';
    src: url('~assets/fonts/CircularStd-Bold/CircularStd-Bold.eot');
    src: url('~assets/fonts/CircularStd-Bold/CircularStd-Bold.eot?#iefix') format('embedded-opentype'), url('~assets/fonts/CircularStd-Bold/CircularStd-Bold.woff2') format('woff2'), url('~assets/fonts/CircularStd-Bold/CircularStd-Bold.woff') format('woff'), url('~assets/fonts/CircularStd-Bold/CircularStd-Bold.ttf') format('truetype'), url('~assets/fonts/CircularStd-Bold/CircularStd-Bold.svg#svgFontName') format('svg');
    font-weight: bold!important;
}

@font-face {
    font-family: 'CircularStd-Black';
    src: url('~assets/fonts/CircularStd-Black/CircularStd-Black.eot');
    src: url('~assets/fonts/CircularStd-Black/CircularStd-Black.eot?#iefix') format('embedded-opentype'), url('~assets/fonts/CircularStd-Black/CircularStd-Black.woff2') format('woff2'), url('~assets/fonts/CircularStd-Black/CircularStd-Black.woff') format('woff'), url('~assets/fonts/CircularStd-Black/CircularStd-Black.ttf') format('truetype'), url('~assets/fonts/CircularStd-Black/CircularStd-Black.svg#svgFontName') format('svg');
    font-weight: bold!important;
}

@font-face {
    font-family: 'MarkPro-Bold';
    src: url('~assets/fonts/MarkPro-Bold/MarkPro-Bold.eot');
    src: url('~assets/fonts/MarkPro-Bold/MarkPro-Bold.eot?#iefix') format('embedded-opentype'), url('~assets/fonts/MarkPro-Bold/MarkPro-Bold.woff2') format('woff2'), url('~assets/fonts/MarkPro-Bold/MarkPro-Bold.woff') format('woff'), url('~assets/fonts/MarkPro-Bold/MarkPro-Bold.ttf') format('truetype'), url('~assets/fonts/MarkPro-Bold/MarkPro-Bold.svg#svgFontName') format('svg');
    font-weight: bold!important;
}

@font-face {
    font-family: "Flaticon";
    src: url("/assets/fonts/Flaticon/Flaticon.eot");
    src: url("/assets/fonts/Flaticon/Flaticon.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Flaticon/Flaticon.woff") format("woff"), url("/assets/fonts/Flaticon/Flaticon.ttf") format("truetype"), url("/assets/fonts/Flaticon/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'SignericaFat';
  src: url('~assets/fonts/SignericaFat/SignericaFat.eot');
  src: url('~assets/fonts/SignericaFat/SignericaFat.eot?#iefix') format('embedded-opentype'), url('~assets/fonts/SignericaFat/SignericaFat.woff2') format('woff2'), url('~assets/fonts/SignericaFat/SignericaFat.woff') format('woff'), url('~assets/fonts/SignericaFat/SignericaFat.ttf') format('truetype'), url('~assets/fonts/SignericaFat/SignericaFat.svg#svgFontName') format('svg');
  font-weight: normal!important;
}

@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('~assets/fonts/ProximaNova-Regular/ProximaNova-Regular.eot');
    src: url('~assets/fonts/ProximaNova-Regular/ProximaNova-Regular.woff2') format('woff2'), url('~assets/fonts/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'), url('~assets/fonts/ProximaNova-Regular/ProximaNova-Regular.ttf') format('truetype'), url('~assets/fonts/ProximaNova-Regular/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg'), url('~assets/fonts/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url('~assets/fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot');
    src: url('~assets/fonts/ProximaNova-Semibold/ProximaNova-Semibold.woff2') format('woff2'), url('~assets/fonts/ProximaNova-Semibold/ProximaNova-Semibold.woff') format('woff'), url('~assets/fonts/ProximaNova-Semibold/ProximaNova-Semibold.ttf') format('truetype'), url('~assets/fonts/ProximaNova-Semibold/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg'), url('~assets/fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'BasisGrotesque-Medium';
    src: url('~assets/fonts/BasisGrotesque-Medium/BasisGrotesque-Medium.eot');
    src: url('~assets/fonts/BasisGrotesque-Medium/BasisGrotesque-Medium.eot?#iefix') format('embedded-opentype'), url('~assets/fonts/BasisGrotesque-Medium/BasisGrotesque-Medium.woff2') format('woff2'), url('~assets/fonts/BasisGrotesque-Medium/BasisGrotesque-Medium.woff') format('woff'), url('~assets/fonts/BasisGrotesque-Medium/BasisGrotesque-Medium.ttf') format('truetype'), url('~assets/fonts/BasisGrotesque-Medium/BasisGrotesque-Medium.svg#svgFontName') format('svg');
    font-weight: normal!important;
}

@font-face {
    font-family: 'BasisGrotesque-Bold';
    src: url('~assets/fonts/BasisGrotesque-Bold/BasisGrotesque-Bold.eot');
    src: url('~assets/fonts/BasisGrotesque-Bold/BasisGrotesque-Bold.eot?#iefix') format('embedded-opentype'), url('~assets/fonts/BasisGrotesque-Bold/BasisGrotesque-Bold.woff2') format('woff2'), url('~assets/fonts/BasisGrotesque-Bold/BasisGrotesque-Bold.woff') format('woff'), url('~assets/fonts/BasisGrotesque-Bold/BasisGrotesque-Bold.ttf') format('truetype'), url('~assets/fonts/BasisGrotesque-Bold/BasisGrotesque-Bold.svg#svgFontName') format('svg');
    font-weight: bold!important;
}

@font-face {
    font-family: 'Icomoon';
    src:  url('~assets/fonts/Icomoon/icomoon.eot?bycoh4');
    src:  url('~assets/fonts/Icomoon/icomoon.eot?bycoh4#iefix') format('embedded-opentype'), url('~assets/fonts/Icomoon/icomoon.ttf?bycoh4') format('truetype'), url('~assets/fonts/Icomoon/icomoon.woff?bycoh4') format('woff'), url('~assets/fonts/Icomoon/icomoon.svg?bycoh4#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-bank:before {
    content: "\e900";
}
.icon-client:before {
    content: "\e901";
}
.icon-auto-crunch:before {
    content: "\e902";
}
.icon-product:before {
    content: "\e903";
}
.icon-business:before {
    content: "\e904";
}
.icon-dashboard:before {
    content: "\e905";
}
.icon-transaction:before {
    content: "\e906";
}
.icon-data-report:before {
    content: "\e907";
}
.icon-search:before {
    content: "\e908";
}
.icon-server:before {
    content: "\e909";
}
.icon-settings:before {
    content: "\e90a";
}
.icon-sort:before {
    content: "\e90b";
}
.icon-team-management:before {
    content: "\e90c";
}
.icon-bank-min:before {
    content: "\e90d";
}
.icon-arr-topbot:before {
    content: "\e90e";
}
.icon-arr-box:before {
    content: "\e90f";
}
.icon-chart:before {
    content: "\e910";
}
.icon-date:before {
    content: "\e911";
}
.icon-logout:before {
    content: "\e912";
}
.icon-message:before {
    content: "\e913";
}
.icon-up:before {
    content: "\e914";
}
.icon-file-management:before {
    content: "\e915";
}
.icon-new-folder:before {
    content: "\e916";
}
.icon-new-file:before {
    content: "\e917";
}
.icon-client-management:before {
    content: "\e918";
}
.icon-financial{
    -webkit-mask: url("~assets/images/financial-icon.svg") no-repeat 50% 50%;
    mask: url("~assets/images/financial-icon.svg") no-repeat 50% 50%;
}
.icon-bank-connect{
    -webkit-mask: url("~assets/images/ico-bank.svg") no-repeat 50% 50%;
    mask: url("~assets/images/ico-bank.svg") no-repeat 50% 50%;
}

// Color
$black: #000;
$black-light: #0f0f0f;
$white: #fff;
$red: #ff424a;
$gray-light: #f0f2f5;
$gray: #9fa3b1;
$gray-dark: #5c6069;
$gray-darker: #262c39;
$blue-light: #E9ECFF;
$blue: #1c5df4;
$blue-lighter: #0096d0;
$blue-dark: #107caf;
$blue-darker: #24396b;
$green: #05ba23;
$green-darker: #00caa3;
$yellow: #fdd130;

// Font
$font-size-smallest: 7px;
$font-size-smaller: 9px;
$font-size-small: 10px;
$font-size-normal: 14px;
$font-size-primary: 13px;
$font-size-big: 14px;
$font-size-bigger: 15px;
$font-size-biggest: 32px;

$color-primary: $white;
$color-second: $blue;
$color-third: $gray-darker;
$color-fourth: $blue-darker;
$color-fifth: $green;
$color-sixth: $gray;
$color-seventh: $gray-light;
$color-eighth: $black-light;
$color-ninth: $blue-light;
$color-tenth: $blue;
$color-eleventh: $red;
$color-twelfth: $green-darker;
//----Font
$font-primary: 'CircularStd-Book';
$font-second: 'CircularStd-Medium';
$font-third: 'CircularStd-Bold';
$font-fourth: 'CircularStd-Black';
$font-fifth: 'MarkPro-Bold';
$font-sixth: 'ProximaNova-Regular';
$font-seventh: 'ProximaNova-Semibold';

// h1
h1, h2, h3, h4, h5, h6 {
    margin: 0
}
.hidden{
    display: none;
}
.pdr-5{
    padding-right: 5px !important;
}
.pdl-5{
    padding-left: 5px !important;
}
.pdl-10{
    padding-left: 10px !important;
}
.pdr-15 {
    padding-right: 15px !important;
}
.pd-l-r-10 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.mb-17 {
    margin-bottom: 17px !important;
}
.mt-0{
    margin-top: 0 !important;
}
.mt-10{
    margin-top: 10px !important;
}
.mt-45{
    margin-top: 45px !important;
}
.mt-20{
    margin-top: 20px !important;
}
.mb-0{
    margin-bottom: 0 !important;
}
.mb-6{
    margin-bottom: 6px !important;
}
.mb-10{
    margin-bottom: 10px !important;
}
.mb-15{
    margin-bottom: 15px !important;
}
.mb-20{
    margin-bottom: 20px !important;
}
.mb-30{
    margin-bottom: 30px !important;
}
.mr-5{
    margin-right: 5px !important;
}
.mr-10{
    margin-right: 10px !important;
}
.mr-15{
    margin-right: 15px !important;
}
.ml-5{
    margin-left: 4rem!important;
}
.ml-15{
    margin-left: 15px !important;
}
.ml-89{
    margin-left: 88% !important;
}
.pd-0{
    padding: 0!important;
}
.pd-10 {
    padding: 10px;
}
.pt-10{
    padding-top: 10px !important;
}
.pt-20{
    padding-top: 20px !important;
}
.pt-35{
    padding-top: 35px !important;
}
.size-13{
    font-size: 13px !important;
}
.min-180{
    min-width: 180px !important;
}
.min-140{
    min-width: 140px !important;
}
.max-180{
    max-width: 180px !important;
}
.max-140{
    max-width: 140px;
}
.font-small {
    font-size: $font-size-small;
}
.font-big {
    font-size: $font-size-big;
}
.color-grey {
    color: $gray;
}
.border-top {
    border-top: 1px solid #F0F1F5;
}
.normal-point {
    cursor: default !important;
}

@-webkit-keyframes rotate {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}

@keyframes rotate {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}


