.not-found-page {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &__ms-logo {
        margin-bottom: 60px;
    }
    &__heading {
        font-size: 30px;
        font-weight: 700;
        color: black;
        margin-bottom: 20px;
    }

    .right-side {

    }
}