.magic-link{
    background-color: #f0f2f5;
    height: 100vh;
    .img-logo{
        margin-bottom: 20px;
    }
    .bg-container{
        background: url('~assets/images/bg-magic.png') no-repeat;
        background-size: cover;
        width: 700px;
    }
    .row-white{
        background-color: #fff;
        border-radius: 3px;
    }
    .box-upload{
        padding: 20px;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .txt-upload{
            color: #262c39;
            font-family: $font-second;
            font-size: 16px;
            margin: 10px 0 0;
            >label{
                color: #3470fb;
                cursor: pointer;
            }
        }

        .box-upload__description {
            margin-top: 30px;
            text-align: start;
            .description__label {
                font-size: 14px;
                font-weight: bold;
                &:not(:first-child) {
                    margin-top: 20px;
                }
            }

            .description__content {
                font-style: italic;
                font-size: 13px;
            }
        }
    }
    .box-info{
        background-color: #3470fb;
        padding: 60px 20px;
        >img{
            width: 100%;
        }
        .box-title{
            color: rgba(255, 255, 255, 0.9);
            font-family: $font-second;
            font-size: 26px;
            margin-top: 43px;
            margin-bottom: 15px;
        }
        .box-txt{
            color: rgba(255, 255, 255, 0.8);
            font-family: $font-primary;
            font-size: 15px;
            margin: 4px 0 0;
            text-align: start;
        }
    }

    &.expired {
        background-color: rgba(0, 0, 0, 0.7);
            .expired__logo {
                margin: 15px 0px;
            }
        
            .expired__title {
             font-size: 25px;
             font-weight: bold;   
            }
        
            .expired__btn {
                padding: 14px 80px;
                margin: 20px 0px 30px;
                border-radius: 24px;
            }
    }

}