.balance-opening {
    height: 100%;
    width: 100%;
    .modal {
        .modal-dialog {
            .modal-content {
                .modal-header {
                    .modal-title {
                        text-align: center !important;
                        width: 100%;
                    }
                }
                .icon-delete{
                    @extend .icon-success;
                    background-color: $red;
                    margin-left: -15px;
                    &:before{
                        content: "\f00d";
                        position: relative;
                        left: 0.5px;
                    }
                    &.grey{
                        background-color: $gray;
                    }
                    &:hover{
                        background-color: $red;
                    }
                    &.fix-ml{
                        margin-left: -30px;
                    }
                    &.mt-20{
                        margin-top: 20px;
                    }
                }
                .add-feild {
                    width: auto;
                    height: 14px;
                    color: #1c5df4;
                    font-family: "Circular Std";
                    font-size: 11px;
                    font-weight: 500;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    border: none;
                    background-color: white;
                }
                .ml-add {
                    margin-left: 77%;
                }
                .mb-add {
                    margin-bottom: 1rem !important;
                }
                .mt-add {
                    margin-top: 1rem !important;
                }
                .mb-7 {
                    margin-bottom: 7.5px;
                }
                .dropdown-menu{
                    width: 80px;
                    margin-top: 10px;
                    text-align: center;
                    letter-spacing: 1px;
                    .dropdown-menu-link{
                        font-size: $font-size-normal;
                    }
                }
            }
        }
    }
}

#opening-balance-sheet {
    .row-item {
        &.edit {
            background-color: transparent !important;
            padding: 0;
        }

        .dropdown-menu {
            width: 100% !important;
            max-height: 250px;
            height: auto;
            overflow-y: auto;
        }
    }
}
